.block-number {
    text-align: center;
    font-weight: bold;
    font-size: 0.8125em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #191919;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}
.block-number:hover {
    opacity: 1;
}
.block-number::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 6px;
    margin-bottom: 2px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #191919;
}
.block-number a:hover,
.block-number a:focus {
    color: #191919;
}
.demo-section .main-content .section,
.demo-topbar .main-content .topbar,
.demo-navbar .main-content .navbar,
.demo-header .main-content .header,
.demo-footer .main-content .footer {
    margin: 30px 20px 100px;
    border: 1px solid #f5f6f7;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}
.demo-topbar .main-content .topbar,
.demo-navbar .main-content .navbar {
    position: static;
    margin: 0;
}
.sample-blocks img {
    border-radius: 0.25rem;
}
.sample-blocks img.aos-animate {
    opacity: 0.5 !important;
}
.sample-blocks img:hover {
    opacity: 1 !important;
    -webkit-transition: 0.7s !important;
    transition: 0.7s !important;
}
.sample-blocks a {
    position: absolute;
}
.sample-blocks a:nth-child(1) {
    -webkit-animation: wobble 4s infinite;
    animation: wobble 4s infinite;
    right: 15px;
    bottom: -20px;
}
.sample-blocks a:nth-child(2) {
    -webkit-animation: wobble 8s infinite;
    animation: wobble 8s infinite;
    right: 320px;
    bottom: 30px;
}
.sample-blocks a:nth-child(3) {
    -webkit-animation: wobble 5s infinite;
    animation: wobble 5s infinite;
    right: 0px;
    bottom: 190px;
}
.sample-blocks a:nth-child(4) {
    -webkit-animation: wobble 6s infinite;
    animation: wobble 6s infinite;
    right: 280px;
    bottom: 180px;
}
.sample-blocks a:nth-child(5) {
    -webkit-animation: wobble 9s infinite;
    animation: wobble 9s infinite;
    right: 270px;
    bottom: 320px;
}
.sample-blocks a:nth-child(6) {
    -webkit-animation: wobble 7s infinite;
    animation: wobble 7s infinite;
    right: 20px;
    bottom: 370px;
}
.sample-blocks a:nth-child(7) {
    -webkit-animation: wobble 5s infinite;
    animation: wobble 5s infinite;
    right: 200px;
    bottom: 470px;
}
.sample-blocks a:nth-child(8) {
    -webkit-animation: wobble 8s infinite;
    animation: wobble 8s infinite;
    right: 10px;
    bottom: 470px;
}
.sample-blocks a:nth-child(9) {
    -webkit-animation: wobble 9s infinite;
    animation: wobble 9s infinite;
    right: 0px;
    bottom: 570px;
}
@-webkit-keyframes wobble {
    0% {
        -webkit-transform: rotate(-1deg) translate(-5px, -5px);
        transform: rotate(-1deg) translate(-5px, -5px);
    }
    50% {
        -webkit-transform: rotate(1deg) translate(5px, 5px);
        transform: rotate(1deg) translate(5px, 5px);
    }
    100% {
        -webkit-transform: rotate(-1deg) translate(-5px, -5px);
        transform: rotate(-1deg) translate(-5px, -5px);
    }
}
@keyframes wobble {
    0% {
        -webkit-transform: rotate(-1deg) translate(-5px, -5px);
        transform: rotate(-1deg) translate(-5px, -5px);
    }
    50% {
        -webkit-transform: rotate(1deg) translate(5px, 5px);
        transform: rotate(1deg) translate(5px, 5px);
    }
    100% {
        -webkit-transform: rotate(-1deg) translate(-5px, -5px);
        transform: rotate(-1deg) translate(-5px, -5px);
    }
}
@media (max-width: 400px) {
    body > .footer .social a:last-child,
    body > .footer .nav a:last-child {
        display: none;
    }
}

/*# sourceMappingURL=style.css.map */

/*============= ALL FONTS =============*/

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");

@font-face {
    font-family: "Lato", sans-serif;
    src: url("assets/fonts/Lato-Regular.ttf");
}
@font-face {
    font-family: "Raleway", sans-serif;
    src: url("assets/fonts/Raleway-Regular.ttf");
}
@font-face {
    font-family: "Poppins", sans-serif;
    src: url("assets/fonts/Poppins-Regular.ttf");
}

/*========= GLOBAL CLASS =========*/

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}
/*-- Scroll Bar -- */
::-webkit-scrollbar {
    width: 0.5vw;
    height: 2vh;
}
::-webkit-scrollbar-track {
    background-color: none;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#app-blade-body {
    font-family: Helvetica, sans-serif !important;
}

.helvetica_font {
    font-family: Helvetica, sans-serif !important;
}

/*========= LANDING PAGE =========*/
#user_name,
#user_logout {
    display: inline;
}
#main_content {
    background-color: #2f3b4b;
}
#map_container {
    background-color: #1f2732;
}
#news_card_wrapper {
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
}
#news_heading {
    font-size: 4rem;
    text-shadow: 0.1rem 0.1rem 0.8rem black;
}
#landing_page_login_heading {
    color: #66fcf1;
    font-size: 18px;
    background-color: #2f3b4b;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    font-weight: 400;
}

/*========= BLOG PAGE SECTION =========*/
.blur-discuss {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-color: #ccc;
}
#disqus-message {
    color: #5f5f5f;
    font-weight: 700;
    position: absolute;
    z-index: 1000 !important;
    margin: 10rem auto;
}
#disqus_cover {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*========= NAVIGATION =========*/
#login_navigation {
    background-color: transparent;
    box-shadow: none;
}
#nav_admin {
    color: #66fcf1 !important;
    font-size: 1rem;
}
#nav_login:hover {
    color: #66fcf1 !important;
    transition: all 0.3s ease-in;
}
.nav-link.active {
    color: #66fcf1 !important;
}
.navbar.solid {
    background: rgba(48, 60, 76, 0.9) !important;
    transition: background-color 1s ease 0s;
}
.custom-toggler-icon {
    color: #fff;
    font-size: 1.6rem;
}
/* Admin Navigation */
#admin_list_group {
    background-color: #405066;
}

/*========= NAVIGATION TYPINGS =========*/
#brand-text {
    line-height: 30%;
    padding-top: 12.7px;
}
#news_typings,
.typed-cursor {
    display: inline-block;
    margin-top: -100px;
    font-size: 1.4rem;
}
.primary {
    color: orangered;
}
.typed-cursor {
    opacity: 1;
    animation: blink 0.7s infinite;
    -webkit-animation: blink 0.7s infinite;
    -mox-animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*========= LOGIN SECTION =========*/
#login_background {
    background-image: url("../img/login_background.jpg");
    background-repeat: no-repeat;
    z-index: -1;
}
.login_card_container {
    background-color: #303c4d;
    border: none;
    border-radius: 15px;
}
.login_headings {
    color: #fff;
    font-size: 2.7rem;
    font-weight: 700;
}
.login_button {
    background-color: #45a19e;
    color: #fff;
    height: 4rem;
    font-size: 2rem;
    font-weight: 700;
}
.login_button:hover {
    background-color: #4db3af;
    transition: all 0rgb (76, 175, 172);
}
.login-padding {
    padding: 0 8rem 0 8rem;
}
.login-padding input,
.login-padding:focus {
    background-color: #405066 !important;
    border: none;
    color: #fff !important;
    padding: 1.5rem 1rem 1.5rem 1rem;
    font-size: 1.2rem;
}
.login-padding input::placeholder {
    color: #fff !important;
}
#login_container_padding {
    padding-top: 9rem;
}

/*========= FOOTER SECTION =========*/
/*Home Page Footer*/
#home_footer {
    z-index: 1000 !important;
    background-color: #000 !important;
}
#login_footer {
    background-color: #0b0c10;
    margin-top: 5.8rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
#divider_footer {
    border-right: 1px solid #fff;
    justify-content: center;
    display: flex;
}
#follow_container {
    padding-top: 0.4rem;
    justify-content: center;
    display: flex;
    letter-spacing: 1.2px;
}
#icon_container {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    justify-content: center;
    display: flex;
}
.matrix {
    display: inline-block;
}
#matrix_left {
    position: absolute;
}
#matrix_text {
    margin-left: 3.6rem;
}
#icon-facebook,
#icon-twitter,
#icon-instagram {
    font-size: 2rem;
    color: #fff;
}
.social-facebook:hover {
    transform: rotate(360deg);
}
.social-twitter:hover {
    transform: rotate(360deg);
}
.social-instagram:hover {
    transform: rotate(360deg);
}
#icon-facebook:hover {
    color: #4269af;
}
#icon-twitter:hover {
    color: #0da4f1;
}
#icon-instagram:hover {
    color: #f34771;
}
.social-facebook,
.social-twitter,
.social-instagram {
    transition: all 0.5s;
}

/*========= ADMIN SECTION =========*/
#admin_background {
    background: #202833;
}
#admin_navigation {
    background-color: #303c4c;
}
#admin_navigation:hover {
    background-color: #405066;
    border-radius: 5px;
}
#trashed_nav {
    background-color: #c85250;
}
#trashed_nav:hover {
    background-color: #ff3633;
}
#admin_links {
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s;
    display: flex;
}
#admin_links:hover {
    margin-left: 5px;
}
#admin-icons {
    width: 32px;
}
#admin_add_btn {
    background-color: #46a29f !important;
    font-weight: 700;
    font-size: 15px;
}
#admin_add_btn:hover {
    background-color: #5dd6d2 !important;
}
#admin_card {
    background-color: #303c4c;
}
#admin_card_heading {
    font-weight: 700;
    font-size: 20px;
    background-color: #405066;
    border-radius: 5px;
}
#edit_restore_btn {
    background-color: #46a29f;
    width: 70px;
    height: 26px;
    font-weight: 700;
}
#edit_restore_btn:hover {
    background-color: #5dd6d2;
}
#trash_delete_btn {
    background-color: #c85250;
    width: 70px;
    height: 26px;
    font-weight: 700;
}
#trash_delete_btn:hover {
    background-color: #ff3633;
}
#name {
    background-color: #405065;
    padding: 1.5rem 1rem 1.5rem 1rem;
    border: none;
}
#name::placeholder {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
}
#name:focus {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
}

/*========= MEDIA QUERIES =========*/

/* Devices under 1200px (xl) */
@media (max-width: 1440px) {
    #login_container_padding {
        padding-top: 5rem;
    }
}

/* Devices under 1200px (xl) */
@media (max-width: 1200px) {
    .login-padding {
        padding: 0rem;
    }
    #login_container_padding {
        padding-top: 10rem;
    }
    #login_footer {
        margin-top: 5.8rem;
        position: relative;
        width: 100%;
        bottom: 0;
        margin-bottom: -100px !important;
    }
}

/* Devices under 992px (lg) */
@media (max-width: 991px) {
    .login_headings {
        font-size: 2.5rem;
    }
    #divider_footer {
        border-right: none;
    }
    #matrix-container {
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    #matrix_text {
        margin-left: 3rem;
    }
    #mobile_sidebar {
        background-color: #303c4c;
        background-color: rgba(24, 57, 100, 0.7);
    }
    #landing_page_login_heading {
        left: 0;
        margin-left: 1rem;
        position: absolute;
    }
}

/* Devices under 768px (md) */
@media (max-width: 767px) {
    #nav_divider {
        display: none;
    }
}

/* Devices under 576px (sm) */
@media (max-width: 575px) {
    .login_headings {
        font-size: 2.6rem;
    }
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
